.App {
  margin: 0;
  display: grid;
  grid-template-columns: 224px 1216px;
}
.dealInfo {
  display: hidden;
  position: absolute;
  width: 552px;
  height: 1206px;
  left: 889px;
  top: 0px;
  background: #fafafb;
  border-radius: 5px 0px 0px 5px;
}
