.close {
  position: absolute;
  width: 112px;
  height: 24px;
  left: 408px;
  top: 16px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #b5b8c0;
  font-family: Arial;
  font-size: 14px;
}

.closeIcon {
  padding-left: 10px;
  color: #b5b8c0;
}

.di-tabs {
  position: absolute;
  width: 489px;
  height: 28px;
  left: 32px;
  top: 76px;
}

.di-tabs .di-section1 {
  position: absolute;
  width: 244px;
  height: 28px;
  left: 0px;
  top: 0px;
}

.di-tabs .di-section2 {
  position: absolute;
  width: 244px;
  height: 28px;
  left: 245px;
  top: 0px;
}

.di-section-name {
  font-weight: bold;
  line-height: 26px;
  font-family: Arial;
  font-size: 18px;
  color: #9295a0;
}

.di-line {
  position: absolute;
  width: 486px;
  height: 0px;
  left: 0px;
  top: 28px;
  border: 1px solid #e0e0e0;
}

.di-tabs .di-section1 .di-coloured-line {
  border: 1px solid #2345c7;
}

span:hover .di-coloured-line {
  border: 1px solid #2345c7;
}

.high1 {
  position: absolute;
  width: 86px;
  height: 44px;
  left: 32px;
  top: 136px;
}

.high2 {
  position: absolute;
  width: 102px;
  height: 44px;
  left: 150px;
  top: 136px;
}

.high3 {
  position: absolute;
  width: 102px;
  height: 44px;
  left: 284px;
  top: 136px;
}

.high4 {
  position: absolute;
  width: 110px;
  height: 44px;
  left: 410px;
  top: 136px;
}

.high-head {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
}

.high-val {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

.di_desc {
  position: absolute;
  width: 488px;
  height: 102px;
  left: 32px;
  top: 212px;
  border-radius: 5px;
  background: #ffffff;
}

.di_desc_head {
  position: absolute;
  width: 196px;
  height: 24px;
  left: 16px;
  top: 8px;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.di_desc_text {
  position: absolute;
  width: 413px;
  height: 46px;
  left: 16px;
  top: 40px;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

.req {
  position: absolute;
  width: 488px;
  height: 247px;
  left: 32px;
  top: 330px;
  background: #ffffff;
  border-radius: 5px;
}

.req-head {
  position: absolute;
  width: 196px;
  height: 24px;
  left: 16px;
  top: 8px;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}

.req-grid1 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 48px;
}

.req-grid2 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 80px;
}

.req-grid3 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 112px;
}

.req-grid4 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 144px;
}

.req-grid5 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 176px;
}

.req-grid6 {
  position: absolute;
  width: 456px;
  height: 32px;
  left: 16px;
  top: 208px;
}

.req-first {
  position: absolute;
  left: 0%;
  font-family: Arial;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  right: 50%;
  padding-left: 2%;
}

.req-second {
  position: absolute;
  left: 50%;
  right: 0%;
  font-family: Arial;
  font-size: 12px;
  line-height: 20px;
}

.doc-box1 {
  position: absolute;
  width: 488px;
  height: 104px;
  left: 32px;
  top: 610px;
}

.doc-head1 {
  font-family: Arial;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

.doc-box2 {
  position: absolute;
  width: 488px;
  height: 104px;
  left: 32px;
  top: 746px;
}

.doc-head2 {
  font-family: Arial;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

.down1 {
  position: absolute;
  width: 488px;
  height: 32px;
  left: 0px;
  top: 32px;
}

.down2 {
  position: absolute;
  width: 488px;
  height: 32px;
  left: 0px;
  top: 64px;
}

.doc-text-left {
  float: left;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
}

.fa-download {
  padding: 0px 10px;
}

.doc-text-right {
  float: right;
  font-family: Arial;
  font-size: 16px;
  line-height: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: underline;
  color: #2345c7;
  padding-right: 40px;
}

.src-box1 {
  position: absolute;
  width: 253px;
  height: 84px;
  left: 32px;
  top: 882px;
}

.src-box2 {
  position: absolute;
  width: 253px;
  height: 84px;
  left: 32px;
  top: 998px;
}

.src-box-head {
  position: absolute;
  width: 253px;
  height: 24px;
  left: 0px;
  top: 0px;
  font-family: Arial;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
}

.src-box-name {
  position: absolute;
  width: 195px;
  height: 24px;
  left: 0px;
  top: 36px;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
}

.src-box-email {
  position: absolute;
  width: 195px;
  height: 24px;
  left: 0px;
  top: 60px;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  color: #9295a0;
}

.main-line {
  position: absolute;
  width: 488px;
  height: 0px;
  left: 33px;
  top: 1138px;
  border: 1px solid #e0e0e0;
}

.edit-main {
  position: absolute;
  width: 156px;
  height: 32px;
  left: 33px;
  top: 1150px;
  font-family: Arial;
  font-size: 16px;
  line-height: 40px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: underline;
  color: #2345c7;
}

.fa-pen {
  padding: 0px 10px;
}
