.menu-container {
  /* float: left;
  width: 224px; */
  height: 1024px;
  background-color: #ffffff;
}

img {
  height: 64px;
  width: 64px;
  position: absolute;
  top: 32px;
  left: 32px;
}

.menu-list {
  position: absolute;
  left: 0px;
  top: 200px;
}

.menu-item {
  width: 196px;
  height: 36px;
  padding-left: 28px;
  padding-top: 20px;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
}

.contact-us {
  position: absolute;
  width: 196px;
  height: 64px;
  left: 0px;
  top: 960px;
  padding-left: 28px;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}
